<section id="glossary">
	{% include header.html %}
	<div class="vh-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
				<h1 class="text-center">Agencies</h1>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include secondary_nav.html %}
<section id="glossary-content">
	<div class="container-fluid glossary-container">
		<div class="row">
			<div class="col-md-8 glossary-column">
				<div class="row header-segment">
					<div class="col-md-2">
						<img class="segment-logo" src="../images/nyc-darkblue.png" alt="">
					</div>
					<div class="col-md-10">
						<h3>DOB - Department of Buildings</h3>
					</div>
				</div>
				<p>The Department of Buildings promotes the safety of all people that build, work, and live in New York City by regulating the lawful use of over one million buildings and construction sites across the five boroughs. With a focus on safety, service, and integrity, the Department enforces the City’s Construction Codes, Zoning Resolution, and the New York State Multiple Dwelling Law.</p>

				<p>The Department enforces compliance with these regulations and promotes worker and public safety through its review and approval of building plans, permitting and licensing functions, and inspections. In addition to Code and Zoning compliance review, emergency response and professional analysis of accidents to prevent future incidents, the Department has strengthened its education and outreach programs to provide the construction industry, property owners and tenants with a heightened understanding of safety awareness.</p>

				<p>The Department is committed to providing efficient service to all New Yorkers by continuously assessing the equitable distribution of resources to meet the safety and permitting needs of residents across all five boroughs; enhancing the quality of life for all New Yorkers and making our City safer.</p>
			</div>

			<hr class="visible-xs-block">
			
			<div class="col-md-4 sidebar">
				<div class="sidebar-links">
					<h4>AGENCIES</h4>
					<ul>
						<li><a href="">What is the ECB</a></li>
						<li><a href="">Navigation ECB Hearings</a></li>
						<li><a href="">Reducing Violation Penalties</a></li>
						<li><a href="">Dismissing Violation Penalties</a></li>
						<li><a href="">Understanding Certificate of Correction</a></li>
						<li><a href="">Saving money through an ECB settlement</a></li>
						<li><a href="">Recieving default notices, what are my options</a></li>
						<li><a href="">Recieve notices from ECB that I owe money</a></li>
					</ul>
				</div>
					
				<div class="sidebar-links links">
					<h4>HELPFUL LINKS</h4>				
					<ul>
						<li><a href="">ECB Office Locations</a></li>
						<li><a href="">Understanding an ECB Violation</a></li>
						<li><a href="">EResponding to an ECB VIolation</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% include support.html %}
{% include footer-1.html %}
{% include footer-2.html %}

