<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 ">
        <h3 class="footer-1-heading">Building Violations</h3>
        <p>The NYC Construction Codes require owners to build and maintain their properties in safe condition. Inspectors issue Environmental Control Board (ECB), Notices of Violation, or Department of Buildings Violations when property or construction doesn’t comply with the Construction Codes, NYC Zoning Resolution, or other applicable laws and rules.</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-1 col-xs-6">
        <ul>
          <li>Search</li>
          <li>FAQ</li>
          <li>Violations</li>
          <li>Agencies</li>
        </ul>
      </div>
       <div class="col-md-1"></div>
      <div class="col-md-1 col-xs-6">
        <ul>
          <li>Services</li>
          <li>Resources</li>
          <li>Glossary</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>

  </div>

</footer>

