<section id="glossary">
	{% include header.html %}
	<div class="vh-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
				<h1 class="text-center">Faq</h1>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include secondary_nav.html %}
<section id="glossary-content">
	<div class="container-fluid glossary-container">
		<div class="row">
			<div class="col-md-8 glossary-column">
				<div class="row header-segment">
					<div class="col-md-1">
						<img class="segment-logo" src="../images/Q.png" alt="">
					</div>
					<div class="col-md-11">
						<h3>this is my test ?</h3>
					</div>
				</div>
				<p>The Environmental Control Board (ECB) is an administrative tribunal which is a division of the Office of Administrative Trials and Hearings (OATH) that adjudicates notices of violation issued for various infractions of the City’s laws and rules that are issued by the; Department of Buildings’, Fire Department, Department of Sanitation,Department of Transportation, DEP – Bureau of Air Resources, Dept. of Parks & Recreation, NYPD Traffic & Highway amongst others. </p>

				<p>As a judicial entity, ECB does not issue notices of violation, does not establish enforcement policies, does not employ inspectors or agents, and does not direct, control or otherwise influence where, when or to whom notices are to be issued. The ECB was established for the purpose of relieving the criminal justice system from the burden of enforcing the violations issued by various City agencies and instead created the ECB jurisdiction. Just so that you understand, there is a big difference between the two courts in that the ECB may find you guilty by the preponderance of evidence (which is just over 50%) and the criminal justice system will use the “innocent until proven guilty” process.</p>

				<p>Once a notice of violation is issued, the matter may only be resolved through the adjudication process at the Board. An exception to this would be a procedure called “written in error”, where the issuing agency will request the Board dismiss the violation and it does not wish to further prosecute the alleged violation.</p>

				<p>Generally, only persons or entities that have been named in the violation/s (respondents) are entitled to a hearing and may only have a hearing within the legal time limits (see appeals decision #40547). Respondents may also be represented by legal counsel or by any authorized agent such as M. Ben Reich who can present the defense to the charges made by the City agency.</p>

				<h4><b>Received A Notice Of Violation?</b></h4>
				<p>A notice of violation must be answered in one of five (5) ways: <br>
				1.	Pay the mail-in penalty amount indicated on the notice of violation, if appropriate; <br>
				2.	Appear in person or by personal representative (who does not have to be an attorney) to present a defense (we  posted ten (10) arguments/defenses which you may review by clicking here) before an administrative law judge at an ECB office; or <br>
				3.	Mail a written statement, sworn to before a notary public that details your defense to the charges contained in the notice of violation. <br>
				4.	Online one-click hearing.<br>
				5.	Hearing-by-Phone, If you are interested in learning whether you can schedule an ECB Hearing-by-Phone, you can call (212) 436-0777.</p>

				<h4><b>On-line hearing :</b></h4>
				<p>If you want to have a One-Click Hearing and your case is eligible, you can use the One-Click Hearing E-Form and enter all the information which is required. You may write up to ten pages explaining why you think the ticket should be dismissed and you may attach up to three files of supporting documentation with a maximum total size of 3MB.
				<br><br>
				If you fail to answer the notice of violation in one of these five ways before the hearing date indicated on the notice of violation may subject you to significantly higher default penalties. ECB has three full-time and two part-time hearing offices. Each notice of violation has a hearing date indicated on the notice of violation. You must respond to the charges on or before that date. If you choose to appear in person, your hearing may take several minutes or several hours, depending on the charges made by the City enforcement agency.</p>

				<h4><b>Decision and Order:</b></h4>
				<p>At the hearing you may submit motions and raise arguments in your defense. You may submit testimony and evidence to support your motion and argument. <br>
				The Judge will decide whether to grant or deny your motion and argument.
				In the event the Judge grants your motion and/or argument, the violation will be dismissed, no penalty will be imposed and will not require filing correction with the agency who issued the violation.
				If the violation is sustained, a penalty may be imposed which is also an order to comply and file such correction with the issuing agency. The Judge does not have discretion with regards to the amount of the penalty. The penalty imposed is based on a penalty schedule which is approved by the Board.</p>
			</div>

			<hr class="visible-xs-block">
			
			<div class="col-md-4 sidebar">
				<div class="sidebar-links">
					<h4>FAQ</h4>
					<ul>
						<li><a href="">What is the ECB</a></li>
						<li><a href="">Navigation ECB Hearings</a></li>
						<li><a href="">Reducing Violation Penalties</a></li>
						<li><a href="">Dismissing Violation Penalties</a></li>
						<li><a href="">Understanding Certificate of Correction</a></li>
						<li><a href="">Saving money through an ECB settlement</a></li>
						<li><a href="">Recieving default notices, what are my options</a></li>
						<li><a href="">Recieve notices from ECB that I owe money</a></li>
					</ul>
				</div>
					
				<div class="sidebar-links links">
					<h4>HELPFUL LINKS</h4>				
					<ul>
						<li><a href="">ECB Office Locations</a></li>
						<li><a href="">Understanding an ECB Violation</a></li>
						<li><a href="">EResponding to an ECB VIolation</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% include support.html %}
{% include footer-1.html %}
{% include footer-2.html %}

