<section id="questions">
	<h1 class="text-center ">Frequently Asked Questions</h1>
	<div class="container">
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>What is the ECB ?</h3>
			<p>The NYC Environmental Control Board (ECB) is a neutral body which adjudicates violations issued by various New York City agencies.</p>
			<a href="/what-is-the-ecb" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>Understanding ECB Hearings</h3>
			<p>If you were issued a violation you have the right to contest your summons by appearings at the hearing at the location, date and time listed on your summons.</p>
			<a href="/navigating-ecb-hearings" class="btn  read-more-btn">Read More</a>
		</div>
	</div>
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>Can I Reduce Violation Penalties?</h3>
			<p>It is possible to reduce fines associated with violations such as by entering into stipulations, mitigating penalties, requesting a settlement and more.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>Can I dismiss Violation Penalties?</h3>
			<p>It is possible to dismiss fines associated with violations through properly defending the nature of the violation or flaws with the violation at the hearing.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
		</div>
	</div>
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>What is Certificate of Correction?</h3>
			<p>Many violations require an approved Certificate of Correction to verify that you have complied with corrective measures.  Failing to do so can result in receiving additional violations.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>What is an ECB Settlement?</h3>
			<p>Under certain conditions a respondent of a violation can reduce higher defaulted penalty amounts and additional accrued interest through the Penalty Relief Program.  </p>
			<a href="" class="btn  read-more-btn">Read More</a>
		</div>
	</div>
	<div class="row questions-row">
		<div class="col-md-1">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5" >

			<div class="questions-col">

			<h3>I Received a Default Notice, What Are My Options?</h3>
			<p>If you received a default notice you have failed to appear at your hearing. You may request that the default status be removed and a new hearing date to be set through specific processes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
			</div>
		</div>
		<div class="col-md-1 question-img">
			<img src="images/Q.png" alt="" style="float:left">
		</div>
		<div class="col-md-5 questions-col">
			<h3>I received an ECB notice of money owed, what do I do?</h3>
			<p>Thailand is home to a host of detox retreats, and it’s one of the most beautiful places in the world to get your spiritual and physical act together. If yes.</p>
			<a href="" class="btn  read-more-btn">Read More</a>
		</div>
	</div>

	</div>
</section>
