<section id="glossary">
	{% include header.html %}
	<div class="vh-center">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-2 col-md-8">
				<h1 class="text-center">Services</h1>
				<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include secondary_nav.html %}
<section id="glossary-content">
	<div class="container-fluid glossary-container">
		<div class="row">
			<div class="col-md-8 glossary-column">
				<div class="row header-segment">
					<div class="col-md-12">
						<h3 style="margin-left: 0;">ECB Hearing Representation</h3>
					</div>
				</div>

				<p>The named respondent in an ECB violation could be you, your company or any other party who occupies or performs work at or in the vicinity of your property, including contractors, service companies, owners, managers and even tenants. If you are the named respondent in an ECB violation, an ECB hearing is an opportunity for you, your attorney or authorized representative to defend against the charges and provide evidence to an ECB Administrative Law Judge that the violating condition was corrected.</p>

				<p>For some violations, such as those issued by the Department of Sanitation (DSNY),Department of Health & Mental Hygiene (DOHMH) or Department of Environmental Protection (DEP) , you may be able to provide your defense online, by mail, or over the phone.</p>

				<p>When applicable, certain violations may also be curable without penalty if the violating condition is remedied and a Certificate of Correction is filed with and accepted before the "cure date" shown on the original copy of the violation that was issued. A violation may also be eligible for a stipulation to extend the time for compliance and pay a reduced penalty.</p>

				<p>Failing to appear at an ECB hearing will result in a default judgment and the automatic imposition of the maximum penalty by the ECB, which can be as high as 3-5 times the standard penalty amount. In the case of a default judgment, please note that you may be able to apply to reopen the case by requesting a new hearing.</p>

				<p>Important Links <br>
				<b>ECB Office Locations</b><br>
				<b>Understanding an ECB Violation</b><br>
				<b>Responding to an ECB Violation</b><br></p>
			</div>

			<hr class="visible-xs-block">
			
			<div class="col-md-4 sidebar">
				<div class="sidebar-links">
					<h4>SERVICES</h4>
					<ul>
						<li><a href="">ECB Violation Removal</a></li>
						<li><a href="">ECB Hearing Representation</a></li>
						<li><a href="">Certificate of Correction Preparation & Filing</a></li>
						<li><a href="">ECB Settlement</a></li>
						<li><a href="">Stipulation</a></li>
						<li><a href="">DOB Violation Removal</a></li>
					</ul>
				</div>
					
				<div class="sidebar-links links">
					<h4>HELPFUL LINKS</h4>				
					<ul>
						<li><a href="">ECB Office Locations</a></li>
						<li><a href="">Understanding an ECB Violation</a></li>
						<li><a href="">EResponding to an ECB VIolation</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
{% include support.html %}
{% include footer-1.html %}
{% include footer-2.html %}

